USE [master]
GO
/****** Object:  Database [HiTechDB]    Script Date: 12/8/2021 11:07:01 PM ******/
CREATE DATABASE [HiTechDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HiTechDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HiTechDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HiTechDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HiTechDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HiTechDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HiTechDB]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 12/8/2021 11:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorId] [varchar](11) NOT NULL,
	[LastName] [varchar](40) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[PhoneNumber] [char](13) NOT NULL,
	[Email] [varchar](40) NULL,
	[address] [varchar](40) NULL,
	[city] [varchar](20) NULL,
	[state] [char](2) NULL,
	[PostalCode] [char](6) NULL,
	[contract] [bit] NOT NULL,
 CONSTRAINT [UPKCL_auidind] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ISBN] [varchar](6) NOT NULL,
	[Title] [varchar](80) NOT NULL,
	[type] [char](12) NOT NULL,
	[publisherId] [char](4) NULL,
	[UnitPrice] [money] NULL,
	[advance] [money] NULL,
	[royalty] [int] NULL,
	[ytd_sales] [int] NULL,
	[notes] [varchar](200) NULL,
	[YearPublished] [datetime] NOT NULL,
	[QOH] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [UPKCL_ISBNind] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorBooks]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorBooks](
	[AuthorId] [varchar](11) NOT NULL,
	[ISBN] [varchar](6) NOT NULL,
	[Edition] [tinyint] NULL,
	[royaltyper] [int] NULL,
	[YearPublished] [datetime] NOT NULL,
 CONSTRAINT [UPKCL_taind] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[titleview]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[titleview]
AS
select Title, Edition, LastName, UnitPrice, ytd_sales, publisherId
from Authors, Books, AuthorBooks
where Authors.AuthorId = AuthorBooks.AuthorId
   AND Books.ISBN = AuthorBooks.ISBN

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategorId] [int] NOT NULL,
	[CategoryName] [varchar](30) NOT NULL,
 CONSTRAINT [UPK_CategorId] PRIMARY KEY CLUSTERED 
(
	[CategorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomersId] [char](4) NOT NULL,
	[CustomerName] [varchar](40) NULL,
	[CustomerAddress] [varchar](40) NULL,
	[city] [varchar](20) NULL,
	[state] [char](2) NULL,
	[PostalCode] [char](6) NULL,
	[PhoneNumber] [char](13) NOT NULL,
	[FaxNumber] [char](13) NOT NULL,
	[CreditLimit] [money] NULL,
	[Email] [varchar](40) NULL,
 CONSTRAINT [UPK_CustomersId] PRIMARY KEY CLUSTERED 
(
	[CustomersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discounts]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discounts](
	[discounttype] [varchar](40) NOT NULL,
	[CustomersId] [char](4) NULL,
	[lowqty] [smallint] NULL,
	[highqty] [smallint] NULL,
	[discount] [decimal](4, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [varchar](9) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[minit] [char](1) NULL,
	[LastName] [varchar](30) NOT NULL,
	[Id] [smallint] NOT NULL,
	[job_lvl] [tinyint] NULL,
	[publisherId] [char](4) NOT NULL,
	[hire_date] [datetime] NOT NULL,
	[phoneNumber] [char](13) NOT NULL,
	[Email] [varchar](40) NULL,
	[StatusId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Employees_ind]    Script Date: 12/8/2021 11:07:02 PM ******/
CREATE CLUSTERED INDEX [Employees_ind] ON [dbo].[Employees]
(
	[LastName] ASC,
	[FirstName] ASC,
	[minit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[min_lvl] [tinyint] NOT NULL,
	[max_lvl] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderId] [varchar](20) NOT NULL,
	[QuantityOrdered] [smallint] NOT NULL,
	[ISBN] [varchar](6) NOT NULL,
 CONSTRAINT [UPKCL_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[CustomersId] [char](4) NOT NULL,
	[OrderId] [varchar](20) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[RequiredDate] [datetime] NOT NULL,
	[ShippingDate] [datetime] NOT NULL,
	[payterms] [varchar](12) NOT NULL,
	[orderType] [varchar](12) NULL,
	[StatusId] [int] NULL,
	[Id] [varchar](9) NULL,
	[Payment] [money] NULL,
 CONSTRAINT [UPKCL_Orders] PRIMARY KEY CLUSTERED 
(
	[CustomersId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pub_info]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pub_info](
	[publisherId] [char](4) NOT NULL,
	[logo] [image] NULL,
	[pr_info] [text] NULL,
 CONSTRAINT [UPKCL_pubinfo] PRIMARY KEY CLUSTERED 
(
	[publisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publishers]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publishers](
	[publisherId] [char](4) NOT NULL,
	[publisherName] [varchar](40) NULL,
	[WebAddress] [varchar](50) NULL,
	[city] [varchar](20) NULL,
	[state] [char](2) NULL,
	[country] [varchar](30) NULL,
 CONSTRAINT [UPKCL_pubind] PRIMARY KEY CLUSTERED 
(
	[publisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roysched]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roysched](
	[ISBN] [varchar](6) NOT NULL,
	[lorange] [int] NULL,
	[hirange] [int] NULL,
	[royalty] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[Id] [varchar](9) NOT NULL,	
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Employee_Id] [varchar](9) NOT NULL,
	[Role_Id] [varchar](9) NOT NULL,
 CONSTRAINT [UPK_Username] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AuthorBooks] ([AuthorId], [ISBN], [Edition], [royaltyper], [YearPublished]) VALUES (N'172-32-1176', N'PS3333', 1, 100, CAST(N'2019-06-12T00:00:00.000' AS DateTime))
INSERT [dbo].[AuthorBooks] ([AuthorId], [ISBN], [Edition], [royaltyper], [YearPublished]) VALUES (N'213-46-8915', N'BU1032', 2, 40, CAST(N'2019-06-12T00:00:00.000' AS DateTime))
INSERT [dbo].[AuthorBooks] ([AuthorId], [ISBN], [Edition], [royaltyper], [YearPublished]) VALUES (N'213-46-8915', N'BU2075', 1, 100, CAST(N'2019-06-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Authors] ([AuthorId], [LastName], [FirstName], [PhoneNumber], [Email], [address], [city], [state], [PostalCode], [contract]) VALUES (N'172-32-1176', N'White', N'Johnson', N'(408)496-7223', N'WhiteJohnson@gmail.com', N'10932 Bigge Rd.', N'Menlo Park', N'CA', N'H3S2S9', 1)
INSERT [dbo].[Authors] ([AuthorId], [LastName], [FirstName], [PhoneNumber], [Email], [address], [city], [state], [PostalCode], [contract]) VALUES (N'213-46-8915', N'Green', N'Marjorie', N'(415)986-7020', N'GreenMarjorie@gmail.com', N'309 63rd St. #411', N'Oakland', N'CA', N'H3S1S2', 1)
INSERT [dbo].[Authors] ([AuthorId], [LastName], [FirstName], [PhoneNumber], [Email], [address], [city], [state], [PostalCode], [contract]) VALUES (N'238-95-7766', N'Carson', N'Cheryl', N'(415)548-7723', N'CarsonCheryl@gmail.com', N'589 Darwin Ln.', N'Berkeley', N'CA', N'H3S1S3', 1)
GO
INSERT [dbo].[Books] ([ISBN], [Title], [type], [publisherId], [UnitPrice], [advance], [royalty], [ytd_sales], [notes], [YearPublished], [QOH], [CategoryId]) VALUES (N'BU1032', N'The Busy Executive''s Database Guide', N'business    ', N'1389', 19.9900, 5000.0000, 10, 4095, N'An overview of available database systems with emphasis on common business applications. Illustrated.', CAST(N'2018-06-12T00:00:00.000' AS DateTime), 400, 1111)
INSERT [dbo].[Books] ([ISBN], [Title], [type], [publisherId], [UnitPrice], [advance], [royalty], [ytd_sales], [notes], [YearPublished], [QOH], [CategoryId]) VALUES (N'BU1111', N'Cooking with Computers: Surreptitious Balance Sheets', N'business    ', N'1389', 11.9500, 5000.0000, 10, 3876, N'Helpful hints on how to use your electronic resources to the best advantage.', CAST(N'2018-06-09T00:00:00.000' AS DateTime), 400, 2222)
INSERT [dbo].[Books] ([ISBN], [Title], [type], [publisherId], [UnitPrice], [advance], [royalty], [ytd_sales], [notes], [YearPublished], [QOH], [CategoryId]) VALUES (N'BU2075', N'You Can Combat Computer Stress!', N'business    ', N'0736', 2.9900, 10125.0000, 24, 18722, N'The latest medical and psychological techniques for living with the electronic office. Easy-to-understand explanations.', CAST(N'2018-06-30T00:00:00.000' AS DateTime), 400, 4444)
GO
INSERT [dbo].[Categories] ([CategorId], [CategoryName]) VALUES (1111, N'business')
INSERT [dbo].[Categories] ([CategorId], [CategoryName]) VALUES (2222, N'mod_cook')
INSERT [dbo].[Categories] ([CategorId], [CategoryName]) VALUES (3333, N'Computer')
GO
INSERT [dbo].[Customers] ([CustomersId], [CustomerName], [CustomerAddress], [city], [state], [PostalCode], [PhoneNumber], [FaxNumber], [CreditLimit], [Email]) VALUES (N'6380', N'EdvardShan', N'788 Catamaugus Ave.', N'Seattle', N'WA', N'H3S1S5', N'(514)777-5555', N'(514)777-5555', 1000.0000, N'EdvardShan@gmail.com')
INSERT [dbo].[Customers] ([CustomersId], [CustomerName], [CustomerAddress], [city], [state], [PostalCode], [PhoneNumber], [FaxNumber], [CreditLimit], [Email]) VALUES (N'7066', N'ZahraMirzaagha''s', N'567 Pasadena Ave.', N'Tustin', N'CA', N'H3S1S1', N'(514)843-0462', N'(514)843-0462', 6000.0000, N'ZahraMirzaagha@gmail.com')
INSERT [dbo].[Customers] ([CustomersId], [CustomerName], [CustomerAddress], [city], [state], [PostalCode], [PhoneNumber], [FaxNumber], [CreditLimit], [Email]) VALUES (N'7067', N'AlirezaAhmadian', N'577 First St.', N'Los Gatos', N'CA', N'H3S1S2', N'(514)701-6563', N'(514)701-6563', 4000.0000, N'AlirezaAhmadian@gmail.com')
GO
INSERT [dbo].[discounts] ([discounttype], [CustomersId], [lowqty], [highqty], [discount]) VALUES (N'Initial Customer', NULL, NULL, NULL, CAST(10.50 AS Decimal(4, 2)))
INSERT [dbo].[discounts] ([discounttype], [CustomersId], [lowqty], [highqty], [discount]) VALUES (N'Volume Discount', NULL, 100, 1000, CAST(6.70 AS Decimal(4, 2)))
INSERT [dbo].[discounts] ([discounttype], [CustomersId], [lowqty], [highqty], [discount]) VALUES (N'Customer Discount', N'8042', NULL, NULL, CAST(5.00 AS Decimal(4, 2)))
GO
INSERT [dbo].[Employees] ([Id], [FirstName], [minit], [LastName], [Id], [job_lvl], [publisherId], [hire_date], [phoneNumber], [Email], [StatusId]) VALUES (N'PMA42628M', N'Paolo', N'M', N'Accorti', 13, 35, N'0877', CAST(N'2015-08-27T00:00:00.000' AS DateTime), N'(514)111-1111', N'PaoloAccorti@gmail.com', 111)
INSERT [dbo].[Employees] ([Id], [FirstName], [minit], [LastName], [Id], [job_lvl], [publisherId], [hire_date], [phoneNumber], [Email], [StatusId]) VALUES (N'PSA89086M', N'Pedro', N'S', N'Afonso', 14, 89, N'1389', CAST(N'2016-12-24T00:00:00.000' AS DateTime), N'(514)111-1111', N'PedroAfonso@gmail.com', 111)
INSERT [dbo].[Employees] ([Id], [FirstName], [minit], [LastName], [Id], [job_lvl], [publisherId], [hire_date], [phoneNumber], [Email], [StatusId]) VALUES (N'VPA30890F', N'Victoria', N'P', N'Ashworth', 6, 140, N'0877', CAST(N'2016-09-13T00:00:00.000' AS DateTime), N'(514)111-1111', N'VictoriaAshworth@gmail.com', 111)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Title], [min_lvl], [max_lvl]) VALUES (1, N'New Hire - Job not specified', 10, 10)
INSERT [dbo].[Roles] ([Id], [Title], [min_lvl], [max_lvl]) VALUES (2, N'Chief Executive Officer', 200, 250)
INSERT [dbo].[Roles] ([Id], [Title], [min_lvl], [max_lvl]) VALUES (3, N'Business Operations Manager', 175, 225)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[OrderDetails] ([OrderId], [QuantityOrdered], [ISBN]) VALUES (N'423LL922', 15, N'MC3021')
INSERT [dbo].[OrderDetails] ([OrderId], [QuantityOrdered], [ISBN]) VALUES (N'423LL930', 10, N'BU1032')
INSERT [dbo].[OrderDetails] ([OrderId], [QuantityOrdered], [ISBN]) VALUES (N'6871', 5, N'BU1032')
GO
INSERT [dbo].[pub_info] ([publisherId], [logo], [pr_info]) VALUES (N'0736', 0xFFFFFFFF, N'None yet')
INSERT [dbo].[pub_info] ([publisherId], [logo], [pr_info]) VALUES (N'0877', 0xFFFFFFFF, N'None yet')
INSERT [dbo].[pub_info] ([publisherId], [logo], [pr_info]) VALUES (N'1389', 0xFFFFFFFF, N'None yet')
GO
INSERT [dbo].[publishers] ([publisherId], [publisherName], [WebAddress], [city], [state], [country]) VALUES (N'0736', N'New Moon Books', N'www.NewMoonBooks.com', N'Boston', N'MA', N'USA')
INSERT [dbo].[publishers] ([publisherId], [publisherName], [WebAddress], [city], [state], [country]) VALUES (N'0877', N'Binnet & Hardley', N'www.Binnet&Hardley.com', N'Washington', N'DC', N'USA')
INSERT [dbo].[publishers] ([publisherId], [publisherName], [WebAddress], [city], [state], [country]) VALUES (N'1389', N'Algodata Infosystems', N'www.AlgodataInfosystems.com', N'Berkeley', N'CA', N'USA')
GO
INSERT [dbo].[roysched] ([ISBN], [lorange], [hirange], [royalty]) VALUES (N'BU1032', 0, 5000, 10)
INSERT [dbo].[roysched] ([ISBN], [lorange], [hirange], [royalty]) VALUES (N'BU1032', 5001, 50000, 12)
INSERT [dbo].[roysched] ([ISBN], [lorange], [hirange], [royalty]) VALUES (N'PC1035', 0, 2000, 10)
GO
INSERT [dbo].[UserAccounts] ([Employee_Id], [Role_Id], [Username], [Password]) VALUES (N'ARD36773F', N'AnabelaDomingues', N'AnabelaDomingues')
INSERT [dbo].[UserAccounts] ([Employee_Id], [Role_Id], [Username], [Password]) VALUES (N'AMD15433F', N'AnnDevon', N'AnnDevon')
INSERT [dbo].[UserAccounts] ([Employee_Id], [Role_Id], [Username], [Password]) VALUES (N'A-R89858F', N'AnnetteRoulet', N'AnnetteRoulet')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [taind]    Script Date: 12/8/2021 11:07:02 PM ******/
CREATE NONCLUSTERED INDEX [taind] ON [dbo].[AuthorBooks]
(
	[AuthorId] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auidind]    Script Date: 12/8/2021 11:07:02 PM ******/
CREATE NONCLUSTERED INDEX [auidind] ON [dbo].[Authors]
(
	[LastName] ASC,
	[FirstName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ISBNind]    Script Date: 12/8/2021 11:07:02 PM ******/
CREATE NONCLUSTERED INDEX [ISBNind] ON [dbo].[Books]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_Id]    Script Date: 12/8/2021 11:07:02 PM ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [PK_Id] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [OrderDetails]    Script Date: 12/8/2021 11:07:02 PM ******/
CREATE NONCLUSTERED INDEX [OrderDetails] ON [dbo].[OrderDetails]
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [bookidind]    Script Date: 12/8/2021 11:07:02 PM ******/
CREATE NONCLUSTERED INDEX [bookidind] ON [dbo].[roysched]
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthorBooks] ADD  DEFAULT (getdate()) FOR [YearPublished]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT ('UNKNOWN') FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ('UNDECIDED') FOR [type]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [YearPublished]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('UNKNOWN') FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('UNKNOWN') FOR [FaxNumber]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('UNKNOWN') FOR [Email]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [Id]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((10)) FOR [job_lvl]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('9952') FOR [publisherId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [hire_date]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('UNKNOWN') FOR [phoneNumber]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('UNKNOWN') FOR [Email]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ('New Position - title not formalized yet') FOR [Title]
GO
ALTER TABLE [dbo].[publishers] ADD  DEFAULT ('USA') FOR [country]
GO
ALTER TABLE [dbo].[AuthorBooks]  WITH CHECK ADD FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[AuthorBooks]  WITH CHECK ADD FOREIGN KEY([ISBN])
REFERENCES [dbo].[Books] ([ISBN])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([publisherId])
REFERENCES [dbo].[publishers] ([publisherId])
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD FOREIGN KEY([CustomersId])
REFERENCES [dbo].[Customers] ([CustomersId])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([publisherId])
REFERENCES [dbo].[publishers] ([publisherId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ISBN])
REFERENCES [dbo].[Books] ([ISBN])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomersId])
REFERENCES [dbo].[Customers] ([CustomersId])
GO
ALTER TABLE [dbo].[pub_info]  WITH CHECK ADD FOREIGN KEY([publisherId])
REFERENCES [dbo].[publishers] ([publisherId])
GO
ALTER TABLE [dbo].[roysched]  WITH CHECK ADD FOREIGN KEY([ISBN])
REFERENCES [dbo].[Books] ([ISBN])
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD CHECK  (([AuthorId] like '[0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD CHECK  (([PostalCode] like '[A-Z][0-9][A-Z][0-9][A-Z][0-9]'))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([PostalCode] like '[A-Z][0-9][A-Z][0-9][A-Z][0-9]'))
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Id] CHECK  (([Id] like '[A-Z][A-Z][A-Z][1-9][0-9][0-9][0-9][0-9][FM]' OR [Id] like '[A-Z]-[A-Z][1-9][0-9][0-9][0-9][0-9][FM]'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Id]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD CHECK  (([max_lvl]<=(250)))
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD CHECK  (([min_lvl]>=(10)))
GO
ALTER TABLE [dbo].[publishers]  WITH CHECK ADD CHECK  (([publisherId]='1756' OR [publisherId]='1622' OR [publisherId]='0877' OR [publisherId]='0736' OR [publisherId]='1389' OR [publisherId] like '99[0-9][0-9]'))
GO
/****** Object:  StoredProcedure [dbo].[byroyalty]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[byroyalty] @percentage int
AS
select AuthorId from AuthorBooks
where AuthorBooks.royaltyper = @percentage

GO
/****** Object:  StoredProcedure [dbo].[reptq1]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reptq1] AS
select publisherId, ISBN, UnitPrice, YearPublished
from Books
where UnitPrice is NOT NULL
order by publisherId

GO
/****** Object:  StoredProcedure [dbo].[reptq2]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reptq2] AS
select type, publisherId, Books.ISBN, Edition,
   Name = substring (LastName, 1,15), ytd_sales
from Books, Authors, AuthorBooks
where Books.ISBN = AuthorBooks.ISBN AND Authors.AuthorId = AuthorBooks.AuthorId
   AND publisherId is NOT NULL
order by publisherId, type

GO
/****** Object:  StoredProcedure [dbo].[reptq3]    Script Date: 12/8/2021 11:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reptq3] @lolimit money, @hilimit money,
@type char(12)
AS
select publisherId, type, ISBN, UnitPrice
from Books
where UnitPrice >@lolimit AND UnitPrice <@hilimit AND type = @type OR type LIKE '%cook%'
order by publisherId, type

GO
USE [master]
GO
