USE [master]
GO
/****** Object:  Database [HiTechDistributionInc]    Script Date: 11/20/2021 10:36:31 AM ******/
CREATE DATABASE [HiTechDistributionInc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HiTechDistributionInc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HiTechDistributionInc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HiTechDistributionInc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HiTechDistributionInc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HiTechDistributionInc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HiTechDistributionInc]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/20/2021 10:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorBooks]    Script Date: 11/20/2021 10:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorBooks](
	[Author_Id] [int] NOT NULL,
	[Book_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AuthorBooks] PRIMARY KEY CLUSTERED 
(
	[Author_Id] ASC,
	[Book_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 11/20/2021 10:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11/20/2021 10:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Isbn] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Category] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/20/2021 10:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StreetAddress] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/20/2021 10:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Order_Id] [int] NULL,
	[PublishedBook_Id] [int] NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/20/2021 10:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[ShippingDate] [datetime] NULL,
	[Status] [int] NOT NULL,
	[Customer_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublishedBooks]    Script Date: 11/20/2021 10:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublishedBooks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YearPublished] [int] NOT NULL,
	[Edition] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[QuantityOnHand] [int] NOT NULL,
	[Book_Id] [int] NULL,
	[Publisher_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PublishedBooks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 11/20/2021 10:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Publishers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AuthorBooks] ([Author_Id], [Book_Id]) VALUES (1, 1)
INSERT [dbo].[AuthorBooks] ([Author_Id], [Book_Id]) VALUES (2, 1)
INSERT [dbo].[AuthorBooks] ([Author_Id], [Book_Id]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Id], [FirstName], [LastName], [Email]) VALUES (1, N'Alen', N'Turing', N'alen@gmail.com')
INSERT [dbo].[Authors] ([Id], [FirstName], [LastName], [Email]) VALUES (2, N'Denis', N'Ritchi', N'denis@gmail.com')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Isbn], [Title], [Category]) VALUES (1, N'123', N'Python Cookbook', 0)
INSERT [dbo].[Books] ([Id], [Isbn], [Title], [Category]) VALUES (2, N'456', N'Database Design', 2)
INSERT [dbo].[Books] ([Id], [Isbn], [Title], [Category]) VALUES (3, N'789', N'Computer Architecture', 1)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [StreetAddress], [City], [PostalCode], [PhoneNumber], [Email]) VALUES (1, N'Neda', N'Assomption', N'Montreal', N'H1T 0A4', N'5147468268', N'neda@gmail.com')
INSERT [dbo].[Customers] ([Id], [Name], [StreetAddress], [City], [PostalCode], [PhoneNumber], [Email]) VALUES (2, N'Alireza', N'Assomption', N'Montreal', N'H1T 0A4', N'5147468268', N'alireza@gmail.com')
INSERT [dbo].[Customers] ([Id], [Name], [StreetAddress], [City], [PostalCode], [PhoneNumber], [Email]) VALUES (3, N'Sasan', N'Assomption', N'Montreal', N'H1T 0A4', N'5147468268', N'sasan@gmail.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [Quantity], [Order_Id], [PublishedBook_Id]) VALUES (1, 2, 1, 4)
INSERT [dbo].[OrderDetails] ([Id], [Quantity], [Order_Id], [PublishedBook_Id]) VALUES (2, 3, 1, 1)
INSERT [dbo].[OrderDetails] ([Id], [Quantity], [Order_Id], [PublishedBook_Id]) VALUES (3, 5, 2, 2)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderDate], [ShippingDate], [Status], [Customer_Id]) VALUES (1, CAST(N'2021-11-20T00:00:00.000' AS DateTime), NULL, 2, 1)
INSERT [dbo].[Orders] ([Id], [OrderDate], [ShippingDate], [Status], [Customer_Id]) VALUES (2, CAST(N'2021-11-22T00:00:00.000' AS DateTime), NULL, 0, 2)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PublishedBooks] ON 

INSERT [dbo].[PublishedBooks] ([Id], [YearPublished], [Edition], [UnitPrice], [QuantityOnHand], [Book_Id], [Publisher_Id]) VALUES (1, 2005, 1, CAST(10.05 AS Decimal(18, 2)), 1000, 1, 1)
INSERT [dbo].[PublishedBooks] ([Id], [YearPublished], [Edition], [UnitPrice], [QuantityOnHand], [Book_Id], [Publisher_Id]) VALUES (2, 2010, 2, CAST(15.75 AS Decimal(18, 2)), 2500, 1, 1)
INSERT [dbo].[PublishedBooks] ([Id], [YearPublished], [Edition], [UnitPrice], [QuantityOnHand], [Book_Id], [Publisher_Id]) VALUES (3, 2008, 1, CAST(20.00 AS Decimal(18, 2)), 1700, 2, 2)
SET IDENTITY_INSERT [dbo].[PublishedBooks] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([Id], [Name]) VALUES (1, N'Wrox Press')
INSERT [dbo].[Publishers] ([Id], [Name]) VALUES (2, N'Prentice Hall')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
/****** Object:  Index [IX_Author_Id]    Script Date: 11/20/2021 10:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Author_Id] ON [dbo].[AuthorBooks]
(
	[Author_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Book_Id]    Script Date: 11/20/2021 10:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Book_Id] ON [dbo].[AuthorBooks]
(
	[Book_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_Id]    Script Date: 11/20/2021 10:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Id] ON [dbo].[OrderDetails]
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PublishedBook_Id]    Script Date: 11/20/2021 10:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_PublishedBook_Id] ON [dbo].[OrderDetails]
(
	[PublishedBook_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customer_Id]    Script Date: 11/20/2021 10:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Id] ON [dbo].[Orders]
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Book_Id]    Script Date: 11/20/2021 10:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Book_Id] ON [dbo].[PublishedBooks]
(
	[Book_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Publisher_Id]    Script Date: 11/20/2021 10:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Publisher_Id] ON [dbo].[PublishedBooks]
(
	[Publisher_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthorBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuthorBooks_dbo.Authors_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[Authors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorBooks] CHECK CONSTRAINT [FK_dbo.AuthorBooks_dbo.Authors_Author_Id]
GO
ALTER TABLE [dbo].[AuthorBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuthorBooks_dbo.Books_Book_Id] FOREIGN KEY([Book_Id])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorBooks] CHECK CONSTRAINT [FK_dbo.AuthorBooks_dbo.Books_Book_Id]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_Order_Id] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_Order_Id]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.PublishedBooks_PublishedBook_Id] FOREIGN KEY([PublishedBook_Id])
REFERENCES [dbo].[PublishedBooks] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.PublishedBooks_PublishedBook_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Customers_Customer_Id] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Customers_Customer_Id]
GO
ALTER TABLE [dbo].[PublishedBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PublishedBooks_dbo.Books_Book_Id] FOREIGN KEY([Book_Id])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[PublishedBooks] CHECK CONSTRAINT [FK_dbo.PublishedBooks_dbo.Books_Book_Id]
GO
ALTER TABLE [dbo].[PublishedBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PublishedBooks_dbo.Publishers_Publisher_Id] FOREIGN KEY([Publisher_Id])
REFERENCES [dbo].[Publishers] ([Id])
GO
ALTER TABLE [dbo].[PublishedBooks] CHECK CONSTRAINT [FK_dbo.PublishedBooks_dbo.Publishers_Publisher_Id]
GO
USE [master]
GO
